@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
*{
    font-family: 'Inconsolata', monospace;
}

/* INDEX */

body{
    padding: 0;
    margin: 0;
    background-color: #242020;
}
header{
    align-items: center;
    background-color: #574848;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0 10px 6px #574848;
    height: 100px;
}
.logo{
    grid-column: 2/3;
    height: 60px;
    cursor: pointer;
}
.cart{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#image{
    padding-left: 8px;
    grid-column: 3/4;
    height: 60px;
    cursor: pointer;
}
.cart img{
    height: 60px;
}
#popup{
    height: 35%;
    width: 90%;
    background: #5C5454;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
    z-index:10;
}
.wrapper .searchInput{
    margin: 2%;
    margin-left: 10px;
    border-radius: 5px;
}
.wrapper .searchInput input{
    width: 85%;
    background-color: #4A4242;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.wrapper .searchInput .suggestionsItems{
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    opacity: 0;
    pointer-events: none;
    display: none;
}
.wrapper .searchInput .suggestionsItems:hover{
    background-color: grey;
    cursor: pointer;
}
#popup ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}  
#popup li{
    padding: 2%;
    border-bottom: 1px solid black;
    width: 80%;
    margin-left: 10px;
}
#popup li a{
    text-decoration: none;
    color: white;
}
#popup li a:hover{
    color: grey;
}
#popup button{
    width: 20%;
    display: block;
    margin: 20px auto;
    background-color: #4A4242;
    color: white;
    padding: 10px 0;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#popup button:hover{
    background-color: grey;
}
.carousel{
    padding: 10%;
    display: flex;
    width: 80%;
    height: 300px;
}
.carousel img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.carousel img:hover{
    cursor: crosshair;
    width: 100px;
    opacity: 1;
    filter: contrast(120%);
}
.text1{
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #574848;
    border-radius: 20px;
    height: 20px;
    width: 60%;
}
.p1{
    font-family: 'Inconsolata', monospace;
    color: white;
    margin: 1%;
}
.text2{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    background-color: #574848;
    border-radius: 20px;
    width: 80%;
    height: 10px;
    justify-content: center;
}
.p2{
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.mainContainer .imageIndexContainer{
    display: flex;
    padding: 10%;
    padding-top: 5%;
    justify-content: center;
}
.mainContainer .imageIndexContainer .container{
    position: relative;
    display: inline-block;
}
.mainContainer .imageIndexContainer .container .button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #4A4242;
    color: white;
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    border-radius: 5px;
}
.mainContainer .imageIndexContainer .container .button:hover{
    background-color: grey;
}
.mainContainer .imageIndexContainer .imageIndex{
    height: 250px;
}
.mainContainer .imageIndexContainer .productName{
    color: white;
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    margin: 0;
}
.mainContainer .imageIndexContainer div{
    padding: 5%;
    padding-top: 0;
}
.mainContainer .imageIndexContainer .priceBackground{
    background-color: #574848;
    color: white;
    margin: 0;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    font-size: 30px;
}
#buttonProduct{
    width: 40%;
    display: block;
    margin: 20px auto;
    background-color: #4A4242;
    color: white;
    padding: 10px 0;
    border: 0;
    outline: none;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#buttonProduct:hover{
    background-color: grey;
}

footer{
    background-color: #574848;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    box-shadow: 10px 0 6px #574848;
    height: 500px;
}
footer .footerMenu{
    grid-row: 1/2;
    grid-column: 1/2;
    padding: 0;
    margin: 20px;
    list-style: none;
}
footer .footerMenu li{
    padding: 10px;
}
footer .footerMenu li a{
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    color: white;
    font-size: 25px;
    border-bottom: 2px solid black;
    padding: 10px;
    padding-left: 0;
}
footer .footerMenu li a:hover{
    color: grey;
}
footer .footerRight{
    grid-row: 1/2;
    grid-column: 2/3;
    padding: 0;
    margin: 0;
}
footer .footerRight i{
    padding: 5%;
    font-size: 60px;
}
.footerRight .text3{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-color: #242020;
    border-radius: 20px;
    width: 60%;
    height: 10px;
    justify-content: center;
}
.footerRight .text3 .p3{
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 30px;
    text-align: left;
    padding-left: 10%;
    margin: 0;
    margin-bottom: 20px;
}
.footerBelow{
    grid-row: 2/3;
    grid-column: 1/3;
}
.footerBelow .text4{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-color: #242020;
    border-radius: 20px;
    width: 60%;
    height: 10px;
    justify-content: center;
    margin-left: 5%;
}
.footerBelow .text4 .p4{
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 25px;
    text-align: left;
    padding: 5%;
    margin: 0;
    margin-bottom: 20px;
}

footer .footerBelow .cardIcon{
    height: 60px;
    margin-left: 20px;
    margin-top: 20px;
}

/* PRODUCTS */

.categories{
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    color: white;
    margin-top: 5%;
    margin-left: 5%;
}
.categories p{
    display: inline;
    text-decoration: underline;
}
.categories p:hover{
    cursor: pointer;
    color: grey;
}
#popupproduct{
    height: 35%;
    width: 90%;
    background: #5C5454;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
    z-index:10;
}
#popupproduct ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}  
#popupproduct li{
    padding: 2%;
    border-bottom: 1px solid black;
    width: 80%;
    margin-left: 10px;
}
#popupproduct li a{
    text-decoration: none;
    color: white;
}
#popupproduct li a:hover{
    color: grey;
}
#popupproduct button{
    width: 20%;
    display: block;
    margin: 20px auto;
    background-color: #4A4242;
    color: white;
    padding: 10px 0;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#popupproduct button:hover{
    background-color: grey;
}

/* CONTACT */

.textContact{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 60px;
    background-color: #574848;
    border-radius: 20px;
    width: 80%;
    height: 10px;
    justify-content: center;
}
.h1Contact{
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
}
.info h2{
    margin-top: 20px;
    font-family: 'Inconsolata', monospace;
    color: white;
    text-decoration: underline;
    text-align: center;
}
.info p{
    font-family: 'Inconsolata', monospace;
    color: white;
    text-align: center;
}
.contactForm form{
    display: block;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 25px;
    color: white;
    
}
.contactForm form input{
    background-color: #4A4242;
    padding: 2%;
    margin: 2%;
}
.contactForm form textarea{
    background-color: #4A4242;
    padding: 2%;
    margin: 2%;
    width: 78%;
    height: 200px;
}
#buttonContact{
    width: 40%;
    display: block;
    margin: 20px auto;
    background-color: #4A4242;
    color: white;
    padding: 10px 0;
    border: 0;
    outline: none;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#buttonContact:hover{
    background-color: grey;
}

/* USER */

.wrapperUser{
    position: relative;
    width: 90%;
    height: 100%;
    margin: 100px 4% 100px;
    background: transparent;
    border: 2px solid #242020;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', monospace;
    color: white;
    transition: height .2s ease;
    overflow: hidden;
}
.wrapperUser.active{
    height: 520px;
}
.wrapperUser .formBox{
    width: 100%;
    padding: 40px;
}
.wrapperUser .formBox.login{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapperUser.active .formBox.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapperUser .formBox.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapperUser.active .formBox.register{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapperUser .formBox h2{
    font-size: 40px;
    text-align: center;
}
.wrapperUser .formBox form .inputBox{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.wrapperUser .formBox form .inputBox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.wrapperUser .formBox form .inputBox input:focus~label,
.wrapperUser .formBox form .inputBox input:focus~label{
    top: -5px;
}
.wrapperUser .formBox form .inputBox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: white;
    padding: 0 35px 0 5px;
}
.wrapperUser .formBox form .inputBox .icon{
    position: absolute;
    right: 8px;
    font-size: 30px;
    color: white;
    line-height: 50px;
}
.wrapperUser .formBox form .checkRememberForgot{
    font-size: 15px;
    color: white;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.wrapperUser .formBox form .checkRememberForgot label input{
    accent-color: grey;
    margin-right: 3px;
}
.wrapperUser .formBox form .checkRememberForgot a{
    color: white;
    text-decoration: none;
}
.wrapperUser .formBox form .checkRememberForgot a:hover{
    color: grey;
}
.wrapperUser .formBox .buttonUser{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    background: #4A4242;
    color: white;
    font-size: 20px;
}
.wrapperUser .formBox form .registerLogin{
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 25px 0 10px;
}
.wrapperUser .formBox form .registerLogin p a{
    color: #4A4242;
    text-decoration: none;
}
.wrapperUser .formBox form .registerLogin p a:hover{
    text-decoration: underline;
}

/* CART */
.carts{
    border: 2px solid #574848;
    width: 85%;
    margin: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
}
.carts .headerCart{
    background-color: #574848;
    color: white;
    text-align: center;
    padding: 30px 0;
    font-family: 'Inconsolata', monospace;
}
.carts .itemsCart .itemCart{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 2px solid #574848;
    padding: 20px;
    color: white;
}
.carts .itemsCart .itemCart img{
    margin-right: 20px;
}
.carts .itemsCart .itemCart .itemCartDetails .itemCartTitle{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carts .itemsCart .itemCart .itemCartDetails .quantitySelector{
    display: inline-block;
    margin-right: 25px;
}
.carts .itemsCart .itemCart .itemCartDetails .quantitySelector .itemCartQuantity{
    border: none;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
    color: white;
}
.carts .itemsCart .itemCart .itemCartDetails .quantitySelector i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #574848;
    background-color: grey;
    cursor: pointer;
}
.carts .itemsCart .itemCart .itemCartDetails .itemCartPrice{
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.carts .itemsCart .itemCart .buttonDelete{
    position: absolute;
    right: 15px;
    top: 15px;
    color: black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #574848;
    cursor: pointer;
    display: block;
    background-color: grey;
    z-index: 20;
}
.carts .itemsCart .itemCart .buttonDelete i{
    pointer-events: none;
}
.cartTotal{
    background-color: #574848;
    padding: 30px;
}
.cartTotal .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.cartTotal .payButton{
    display: block;
    width: 100%;
    border: none;
    background-color: #242020;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.cartTotal .payButton:hover{
    scale: 1.05;
}